* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #001848;
    color: white;
    line-height: 1.2;
    height: 100vh;
    /* overflow: hidden; */
}

.sec1 {
    height: 100vh;
    background: url(images/enter.jpg.heic) no-repeat center / cover;
    display: table;
    background-attachment: fixed;
    width: 100%;
}
.sec2 {
    height: 120vh;
    background: url(images/meeting.jpg) no-repeat fixed center / cover;
    /* background-color: white; */
    filter: blur(4px);
    -webkit-filter: blur(4px);
    display: table;
    background-attachment: fixed;
    width: 100%;
}
.calendar {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box {
    background: linear-gradient(135deg,#A8DADC, #457B9D 30% 60%, #1D3557 90%);
    color: white;
    font-weight: bold;
    /* border: 1px solid #f1f1f1; */
    box-shadow: 0 0 5px 5px rgba(6, 78, 212, 0.2);
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 30%;
    padding: 20px;
    text-align: center;
    transition-delay: 2s;
}

.demo a {
    position: absolute;
    top: 90%;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: rgb(0, 0, 0);
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }
  #sec-middle a {
    padding-top: 80px;
  }
  #sec-middle a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    font-weight: bold;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #sec-middle a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #sec-middle a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #sec-middle a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } 
  

.btn-sign {
    background-color: #4CAF50;
    padding: 5px 10px;
    border: none;
}
.btn-sign a {
    color: white;
    text-decoration: none;
}
.btn-sign:hover {
    background-color: #62c465;
    color: white;
    box-shadow: 2px 2px 2px #457B9D;
    text-decoration: underline;
}

.btn-primary {
  background-color: #4CAF50;
  padding: 20px 20px;
  font-weight: bold;
  border: none;
  margin-left: 45vw;
  margin-top: 57vh;
  
}
.btn-primary:hover {
  background-color: #58c45c;
  cursor: pointer;
}
.btn-primary a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}